{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University news</title>

    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-fixed-top.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $("#210").click(function () {
            $("#d210").show();
            $("#d220").hide();
            $("#all").hide();
        });

        $("#220").click(function () {
            $("#d210").hide();
            $("#d220").show();
            $("#all").hide();
        });
    });
    </script>

  </head>
  <body>  

        <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">University News</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/news">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ข่าว<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">ข่าวกิจกรรม</a></li>
                  <li><a href="/news/announce">ข่าวประกาศ</a></li>
                  <li><a href="/news/fund">ข่าวทุน</a></li>
                </ul>
              </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <!--
        <center> 
        <button class="btn btn-default">กิจกรรมมหาวิทยาลัย</button>
        <button class="btn btn-default">กิจกรรมเพื่อสร้างเสริมสมรรถนะ</button>
        <button class="btn btn-default">กิจกรรมเพื่อสังคม</button>
        </center>
        -->
        
        <div class="col-md-1">
        </div>
          <div class="col-md-11">
          
          <center>
            <br>
            <button type="button" id="210" class="btn btn-default">กิจกรรมได้ชั่วโมง</button>
            <button type="button" id="220" class="btn btn-default">กิจกรรมไม่ได้ชั่วโมง</button>
            <br><br>
          </center>
          

          <div style="display:none;" id="d210">
            {% if activity_210 %}
              {% for list in activity_210 %}
                {% for all in activity_all %}
                  {% ifequal all.Nid list.Nid_id%}
                    <p class="bg-danger">
                    <li><a href="{{all.Link}}">{{all.DatePublish}} : {{all.Topic}}</a></li>
                    </p>
                  {% endifequal %}
                {% endfor %}
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>

          <div style="display:none;" id="d220">
          {% if activity_220 %}
            {% for list in activity_220 %}
                {% for all in activity_all %}
                  {% ifequal all.Nid list.Nid_id%}
                    <p class="bg-danger">
                    <li><a href="{{all.Link}}">{{all.DatePublish}} : {{all.Topic}}</a></li>
                    </p>
                  {% endifequal %}
                {% endfor %}
              {% endfor %}
          {%else%}
            None!!!
          {%endif%}
          </div>

          <div id="all">
            {% if activity_all %}
              {%for list in activity_all%}
                <p class="bg-danger">
                <li><a href="{{list.Link}}">{{list.DatePublish}} : {{list.Topic}}</a></li>
                </p>
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>
          
          
        
        </div>

      </div>
    </div>  
    
  
          
  </body>
</html>
