{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University news</title>

    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-fixed-top.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $("#211").click(function () {
            $("#a211").show();
            $("#a216").hide();
            $("#a217").hide();
            $("#a220").hide();
            $("#all").hide();
        });
        $("#216").click(function () {
            $("#a211").hide();
            $("#a216").show();
            $("#a217").hide();
            $("#a220").hide();
            $("#all").hide();
        });
        $("#217").click(function () {
            $("#a211").hide();
            $("#a216").hide();
            $("#a217").show();
            $("#a220").hide();
            $("#all").hide();
        });
        $("#220").click(function () {
            $("#a211").hide();
            $("#a216").hide();
            $("#a217").hide();
            $("#a220").show();
            $("#all").hide();
        });
    });
    </script>

  </head>
  <body>  

        <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">University News</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/news">Home</a></li>
            <li><a href="/news/fund">ข่าวทุน</a></li>
            <li class="active"><a href="/news/activity">ข่าวกิจกรรม</a></li>
            <li><a href="/news/announce">ข่าวประกาศ</a></li>
            <li><a href="/news/nisit">ชั่วโมงกิจกรรม</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
          <div class="col-md-11">
          
          <center>
            <br>
            <button type="button" id="211" class="btn btn-default">กิจกรรมมหาวิทยาลัย</button>
            <button type="button" id="216" class="btn btn-default">กิจกรรมเพื่อสร้างเสริมสมรรถนะ</button>
            <button type="button" id="217" class="btn btn-default">กิจกรรมเพื่อสังคม</button>
            <button type="button" id="220" class="btn btn-default">กิจกรรมทั่วไป</button>
            <br><br>
          </center>
          
          
          <div style="display:none;" id="a211">
            {% if a211 %}
              {% for list in activity_all %}
                  {% if list.Nid in a211 %}
                    <p class="bg-danger">
                    <li><a href="{{list.Link}}">{{list.DatePublish}} : {{list.Topic}}</a></li>
                    </p>
                  {% endif%}
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>

          <div style="display:none;" id="a216">
            {% if a216 %}
              {% for list in activity_all %}
                  {% if list.Nid in a216 %}
                    <p class="bg-danger">
                    <li><a href="{{list.Link}}">{{list.DatePublish}} : {{list.Topic}}</a></li>
                    </p>
                  {% endif%}
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>

          <div style="display:none;" id="a217">
            {% if a217 %}
              {% for list in activity_all %}
                  {% if list.Nid in a217 %}
                    <p class="bg-danger">
                    <li><a href="{{list.Link}}">{{list.DatePublish}} : {{list.Topic}}</a></li>
                    </p>
                  {% endif%}
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>

         <div style="display:none;" id="a220">
            {% if a220 %}
              {% for list in activity_all %}
                  {% if list.Nid in a220 %}
                    <p class="bg-danger">
                    <li><a href="{{list.Link}}">{{list.DatePublish}} : {{list.Topic}}</a></li>
                    </p>
                  {% endif%}
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>

          <div id="all">
            {% if activity_all %}
              {%for list in activity_all%}
                <p class="bg-danger">
                <li><a href="{{list.Link}}">{{list.DatePublish}} : {{list.Topic}}</a></li>
                </p>
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>
          
          
        
        </div>

      </div>
    </div>  
    
  
          
  </body>
</html>
