{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University news</title>

    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-fixed-top.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </head>
  <body>  

        <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">University News</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/news">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ข่าว<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">ข่าวกิจกรรม</a></li>
                  <li><a href="/news/announce">ข่าวประกาศ</a></li>
                  <li><a href="/news/fund">ข่าวทุน</a></li>
                </ul>
              </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <!--
        <center> 
        <button class="btn btn-default">กิจกรรมมหาวิทยาลัย</button>
        <button class="btn btn-default">กิจกรรมเพื่อสร้างเสริมสมรรถนะ</button>
        <button class="btn btn-default">กิจกรรมเพื่อสังคม</button>
        </center>
        -->
        <div class="col-md-6">
        
        <p>
          {% if activity_news %}
            Test<br>
            {% for i in activity_news %}
            {{i.Topic}}
            {% endfor %}
          {%else%}
            Error!!!
          {%endif%}
        </p>
        </div>
      </div>
    </div>  
    
  
          
  </body>
</html>
