{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University news</title>

    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-fixed-top.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <script type="text/javascript">
      $(document).ready(function(){
        $("#310").click(function () {
            $("#d310").show();
            $("#d320").hide();
            $("#d330").hide();
            $("#all").hide();
        });

        $("#320").click(function () {
            $("#d310").hide();
            $("#d320").show();
            $("#d330").hide();
            $("#all").hide();
        });

        $("#330").click(function () {
            $("#d310").hide();
            $("#d320").hide();
            $("#d330").show();
            $("#all").hide();
        });
    });
    </script>

  </head>
  <body>  

        <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">University News</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/news">Home</a></li>
            <li><a href="/news/fund">ข่าวทุน</a></li>
            <li><a href="/news/activity">ข่าวกิจกรรม</a></li>
            <li class="active"><a href="/news/announce">ข่าวประกาศ</a></li>
            <li><a href="/news/nisit">ชั่วโมงกิจกรรม</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
      <div class="row">
       <div class="col-md-1">
        </div>
          <div class="col-md-11">
          
          <center>
            <br>
            <button type="button" id="310" class="btn btn-default">ข่าวประชาสัมพันธ์</button>
            <button type="button" id="320" class="btn btn-default">ข่าวมหาวิทยาลัย</button>
            <button type="button" id="330" class="btn btn-default">ข่าวนิสิต</button>
            <br><br>
          </center>

          <div style="display:none;" id="d310">
            {% if an310 %}
              {% for list in announce_all %}
                  {% if list.Nid in an310 %}
                    <p class="bg-danger">
                    <li><a href="{{list.Link}}">{{list.DatePublish}} : {{list.Topic}}</a></li>
                    </p>
                  {% endif %}
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>

          <div style="display:none;" id="d320">
            {% if an320 %}
              {% for list in announce_all %}
                  {% if list.Nid in an312 %}
                    <p class="bg-danger">
                    <li><a href="{{list.Link}}">{{list.DatePublish}} : {{list.Topic}}</a></li>
                    </p>
                  {% endif %}
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>

          <div style="display:none;" id="d310">
            {% if an330 %}
              {% for list in announce_all %}
                  {% if list.Nid in an330 %}
                    <p class="bg-danger">
                    <li><a href="{{list.Link}}">{{list.DatePublish}} : {{list.Topic}}</a></li>
                    </p>
                  {% endif %}
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>

          <div id="all">
            {% if announce_all %}
              {%for list in announce_all%}
                <p class="bg-danger">
                <li><a href="{{list.Link}}">{{list.DatePublish}} : {{list.Topic}}</a></li>
                </p>
              {% endfor %}
            {%else%}
              None!!!
            {%endif%}
          </div>
          
          
        
        </div>
      </div>
    </div>
    
  </body>
</html>
