{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University news</title>

    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-fixed-top.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#show").click(function () {
            $("#aa").show();
            $("#all").hide();
        });

    });
    </script>

  </head>
  <body>  

        <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">University News</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/news">Home</a></li>
            <li><a href="/news/fund">ข่าวทุน</a></li>
            <li><a href="/news/announce">ข่าวประกาศ</a></li>
            <li><a href="/news/activity">ข่าวกิจกรรม</a></li>
            <li class="active"><a href="#">ชั่วโมงกิจกรรม</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <form action="/news/testresult" method="post" target="_blank">
            {% csrf_token %}
            <input name="TextBoxSTD_IDNO" type="text" id="TextBoxSTD_IDNO" />
            <input type="submit" name="ButtonSearch" value="enter" id="ButtonSearch" />&nbsp;<font size="2">=&gt;</font>&nbsp;&nbsp;<a id="HyperLinkReport" target="tran_main"></a>
          </form>
          {% if link %}
          <div>
            <a href="{{link}}">{{link}}</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    
  </body>
</html>
